<section class="instagram">
    <div class="container">
        <div class="instagram-posts"><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/1.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/2.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/3.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/4.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/5.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/3.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a><a class="instagram-img_block" href="https://www.instagram.com/"><img src="assets/pages/images/instagram/2.png" alt="instagram post">
                <div class="instagram-post_block"><i class="fab fa-instagram"></i>
                    <p>Pisen_Instagram</p>
                </div></a></div>
    </div>
</section><!--End instagram-->