<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <div class="post-block post-classic">
                <div class="post-img"><img src="assets/images/homepage2/post-1.png" alt="post image"></div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">North Dakota Learns From Norway</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-1.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="post-block post-classic">
                <div class="post-img"><img src="assets/images/homepage2/post-2.png" alt="post image"></div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">10 States At Risk of Rural Hospital Closures</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-2.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="post-block post-with-video">
                <div class="post-video">
                    <video id="player" poster="assets/images/homepage2/post-3.png" playsinline="" controls="">
                        <source src="assets/images/audio+video/video.mp4" type="video/mp4">
                        <track kind="captions" label="English captions" src="" srclang="en" default="">
                    </video>
                </div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">Art Photo Exhibition In America</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-3.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="post-block post-classic">
                <div class="post-img"><img src="assets/images/homepage2/post-4.png" alt="post image"></div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">North Dakota Learns From Norway</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-4.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="post-block post-classic">
                <div class="post-img"><img src="assets/images/homepage2/post-5.png" alt="post image"></div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">North Dakota Learns From Norway</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-5.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="post-block post-slide">
                <div class="post-img post-img-slide">
                    <div class="post-slide_img"><img src="assets/images/homepage2/post-1.png" alt="post image"></div>
                    <div class="post-slide_img"><img src="assets/images/homepage2/post-4.png" alt="post image"></div>
                    <div class="post-slide_img"><img src="assets/images/homepage2/post-3.png" alt="post image"></div>
                </div>
                <div class="post-detail"><a class="post-title regular" href="blog_detail.html">U.S. Interventions in Latin America, in Photos</a>
                    <div class="post-credit">
                        <div class="author"><a class="author-avatar" href="blog_2col.html#"><img src="assets/images/avatar/avatar-6.png" alt="auhtor"></a>
                            <h5 class="author-name">Lucas Norman</h5>
                        </div>
                        <h5 class="upload-day">February 17, 2019</h5>
                        <div class="post-tag"><a href="index.html">tech</a></div>
                    </div>
                    <p class="post-describe">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.  </p>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <button class="normal-btn" id="load-more">Load more</button>
        </div>
    </div>
</div>